﻿@model FishhawkLake.Models.AspNetUser

@Styles.Render("~/Content/Login.css")
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-4">
            <br>
            <div class="card bg_userP">
                <div class="card-body text-center">
                    <h2>User Profile</h2>
                </div>
            </div>

            <div class="card bg_opacity">
                <div class="card-body text-center">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                    </dl>

                    @Html.ActionLink("Security Setting", "Index", "Manage", null, new { @class = "btn btn-outline-dark btn-block" })
                    <br>

                    @Html.ActionLink("Manager's Account", "Index", "AspNetUsers", null, new { @class = "btn btn-outline-dark btn-block" })

                    <br>
                    @Html.ActionLink("Back to Home Page", "Index", "Home", null, new { @class = "btn btn-outline-dark btn-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>

