﻿
@{
    ViewBag.Title = "Alert Center";
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<br />

<h2>Alert Center</h2>
<br />
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="alert alert-info" role="alert">
        <div class="row">
            <a style="padding-top:.5em; padding-right: 3em"> Alerts are </a>
            <input type="checkbox" checked data-toggle="toggle" name="AlertFlipper" id="AlertFlipper">

        </div>
    </div>
}


<a href="~/Alerts/AlertTrigger" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Alert Trigger</a>
