﻿<br />
<br />
<h2>Live Gauge!</h2>

<div class="row">
    <div class="col-sm-3" id="psi">
        <div class="card">
            <div class="card-body" id="Gauge">
            </div>
        </div>
    </div>

    


</div>

@section Gauge
{
    <script src="@Url.Content("~/Scripts/raphael-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/justgage.js")"></script>
    <script src="@Url.Content("~/Scripts/gaugeDisplay.js")"></script>
}