@model IEnumerable<FishhawkLake.Models.Device>

<h2>Line Chart Sample Data from February 26, 2019</h2>
    

<div style="width:75%;">
   <canvas id="LineGraph"></canvas>
</div>
<br>
<br>

@section LineGraph
{
    <script src="https://www.chartjs.org/dist/2.7.3/Chart.bundle.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script type="text/javascript" src="~/Scripts/LineGraph.js"></script>
}
