﻿@model IEnumerable<FishhawkLake.Models.Calibration>

@{
    ViewBag.Title = "Calibration Table";
}

<br />
<h2>Calibration Table</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeviceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intercept)
        </th>
        <th>
            Last Entered Incoming Datapoint
        </th>
        <th>
            Last Entered Adjusted Datapoint
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intercept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y)
        </td>
        <!--ActionLink("Label", "Link",...) -->
        <td>
            | @Html.ActionLink("Edit Formula", "EditMB", new { id = item.CID }) |
            @Html.ActionLink("Add Data Points", "EditXY", new { id = item.CID }) |
            @Html.ActionLink("Calculate", "CalculateY", new { id = item.CID }) |
            @Html.ActionLink("Edit All", "Edit", new { id = item.CID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CID }) |
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New Calibration", "Create")
</p>
