﻿body {
    
}

.bg_opacity {
    background-color: rgba(17, 64, 64, 0.2);
    
}

.bg_userP {
    background-color: rgba(17, 64, 64, 0.5);
}

.btn_bg_opacity {
    background-color: rgba(0, 57, 230, 0.45);
}

.btn_partial {
    background-color: rgb(0, 172, 230);
}

.btn_bord {
border-color: whitesmoke;
border: 5px;
}

.btn_text {
    color: white;
}
