﻿input {
    max-width: 280px;
}

select {
    max-width: 280px;
}

textarea {
    max-width: 280px;
}

.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background-color: black;
    color: lightgray;
}

.jumbotron {
    background-color: linen;
    border: 4px solid antiquewhite;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.headpic {
    position: absolute;
    left: 0;
    top: 3.4em;
    z-index: -2;
}

.backgroundcolor {
    background-color: #FAF4ED;
}

.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    color: lightgray;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#g1, #g2, #g3, #g4 {
    text-align: center;
    width: 310px;
    height: 180px;
    display: inline-block;
    transform:translateZ(20px)
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.background {
    height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}

#card {
    background-color: #f2f0e6;
}


 #button1 {
     background-color: #62a9e0;
    
}