﻿@model FishhawkLake.Models.ViewModel.ExportViewModel

<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>

<br />
<h2>Export</h2>

<h4>
    The function of this page is to export all sensor data to a .csv file. This type of file can
    be opened in a program such as Microsoft Excel, OpenOffice Calc or Google Slides.
</h4>
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DID", new SelectList(ViewBag.deviceIDs, "DID"), "Select a Device", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Export" class="btn btn-default" />
            <br />
            <br />

            @Html.ActionLink("Export All", "ExportAllCSV", "Export", null, new { @class = "btn btn-primary" })

        </div>
    </div>
}


